.layoutContainer{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
main{
  flex: 1;
}
.desktopnav, .mobilenav{
  width: 100%;
  background-color: var(--accentGray);
  height: var(--navHeight);
}

.desktopnav nav{
    display: flex;
    gap: 30px;
    justify-content: center;
    height: 100%;
    min-height: 40px;
}
.mobilenav{
  display: none;
}

.burger{
  position: relative;
}

.burger, .burger::after, .burger::before {
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  transition: 0.5s;
  transform-origin: center center;
}

.burger::after{
  content: '';
  position: absolute;
  top: -7px;
}
.burger::before{
  content: '';
  position: absolute;
  top: 7px;
}
.menu{
  width: 35px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.burgerOpen::after{
  display: none;
}
.burgerOpen{
  transform: rotate(45deg);
}

.burgerOpen::before{
  transform: translate(0, -7px) rotate(-90deg) ;


}


@media screen and (max-width: 768px){
.desktopnav{
    display: none;
  }
.mobilenav{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    padding: 0 16px;

}
.mobilenav nav{
  display: none;
  flex-direction: column;
  position: absolute;
  top: var(--navHeight);
  right: 0;
  left: 0;
  padding: 32px;
  background-color: var(--accentGray);
  opacity: .9;
  width: 100%;
}
}
.mobilenav nav.open{
  display: flex;
}

  nav a{
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    position: relative;
    white-space: nowrap;
  }
nav a:hover{
    color: var(--accentYellow);
  }

