*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --accentGray: #2c2c2c;
  --accentYellow: rgb(246, 230, 0);
  --accentBrown:  rgb(53, 36, 1);
  --navHeight: 50px;

}

body{
  /* background-color: rgba(25, 25, 25, 0.861); */
  background-image: url('https://images.unsplash.com/photo-1555952494-efd681c7e3f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZnJvbnQlMjBlbmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(7px);
}

.content_container{
  max-width: 1470px;
  padding: 16px;
  padding-top: 32px;
  margin: 0 auto;
  width: 100%;
}

h2{
  color: aliceblue;
}
.active{
  color: rgb(246, 230, 0);
}
article{
  line-height: 25px;
  background-color: rgb(255, 217, 0);
  padding: 16px;
  color: rgb(53, 36, 1);
  border-radius: 16px;
  margin-block: 20px;
}
article img{
  margin: 0 auto;
  max-width: 60%;
  display: block;
}
@media screen and (max-width: 768px){
  article p{
    font-size: 14px;
  }
  article img{
    max-width: 90%;
  }
}
hr{
  margin: 10px 30px;
}
.content-wrapper{
  margin: 0 auto;
  width: min(100%, 900px);
}
.content{
  margin-top: 30px;
  background-color: rgba(220, 220, 220, 0.076);
  padding: 15px;
  border-radius: 16px;
}
h4{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
ol{
  margin-top: 20px;
}
li{
  margin-left: 32px;
}