.wrap{
    margin: 0 auto;
    width: 60vw;
}
.content{
    /* background-color: rgb(220, 220, 220); */
    padding: 16px;
    border-radius: 5px;
}

article img{
    margin: 0 auto;
    max-width: 60%;
    display: block;
}

