.contactbox p{
    display: flex;
    align-items: center;
    gap: 15px;
}
.contactbox a{
    color: var(--accentBrown);
    text-decoration: none;
}
.contactbox img{
    display: inline;
    margin-left: 10px;
    width: 36px;
    max-width: 100%;
}
